@charset "UTF-8";

body {
	min-height: 100vh;
	font-family:Verdana, Arial, sans-serif;
}

.container {
	margin:auto 0;
	width: auto;
}

header, main {
	display: flex;
	flex-direction: column;		
	align-items: center;
	justify-content: space-around;
}

header {
	 background:#3E3B3D;
	 min-height: 5vh;
	 padding: 5px;
	 color: white;
	 font-weight: bold;
}

nav {
	display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 4vh;
   
}

main {	
    justify-content: space-around;
    min-height: 89vh; 
}

a {
	text-decoration: none;
}

.button-home {
	background-image: linear-gradient(to right,rgb(111,174,75),rgb(133,215,88));
		padding: 10px 15px;
}

.button-styled, input {
	border-radius:5px ;
	color: white;	
}

.button-styled, input[type="submit"]{
	font-weight: bold;
}

input {
	 appearance: none;	
	 font-family:Helvetica, Arial, sans-serif;
	 font-size: 1rem;
}

input[type="submit"] {
	padding:10px 50px;	
	background-color: #2145D8;
	border:0;
}

/*css pages erreur*/

main.main--error{
	justify-content: center;
}

.button-home.button-home--error {
	margin-bottom:15vh;
}

.text-error{
	font-size: 3rem;
} 

