@charset "UTF-8";

.section-user-info {
	background-color: rgba(240, 237, 237, 0.5);
	padding: 50px;
	width: 30vw;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.section-user-info--accounts {
	padding-bottom: 5px;
}

.button-styled--creating-account {
	margin: 40px 0;
}

.button-form--creating-account {
	width: 70%;
	text-wrap: wrap;
}