<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8">
        <title>HomePage</title>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <script type="text/javascript" th:src="@{https://kit.fontawesome.com/365efc5f07.js}" crossorigin="anonymous"></script>
    </head>
    <body>
		<div class="container">
				<header>
			<nav> Pay My Buddy</nav>
		</header>
		<main>
			 <div class="text-welcome" >
				 <i class="fa-regular fa-face-smile fontawesome-styled"></i>
                  Welcome to Pay My Buddy application!
        </div>  
		</main>
		</div>          
    </body>
</html>