<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8">
        <title>Login</title>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <link th:href="@{/css/login.css}" rel="stylesheet" />
         <script type="text/javascript" th:src="@{https://kit.fontawesome.com/365efc5f07.js}" crossorigin="anonymous}"></script>
    </head>
    <body>
		<header>
			<nav> Pay My Buddy</nav>
		</header>
		<div class="container">
			<div th:if="${param.error}">
	            Invalid email and password.
	        </div>
	        <div th:if="${param.logout}">
	            You have been logged out.
	        </div>
	        <main>
				<form th:action="@{/login}" method="post">
					<div class="button-styled button-home">
						 Pay My Buddy
					</div>
		            <div class="login-field">
							<div class="login-field--fontawesome">
								<i class="fa-regular fa-envelope"></i>
							<input  type="email" name="username" placeholder="Email"/>
							</div>	
						</div>
		            <div class="login-field">
							<div class="login-field--fontawesome">
							<i class="fa-solid fa-asterisk"></i> 
							<input type="password" name="password" placeholder="Password"/> 
							</div>
						</div>
		            <div class="check-remember">
		                <input type="checkbox" id="remember" name="remember-me">
		                <label for="remember">
		                    Remember Me
		                </label>
		            </div>
		            <div class="button-styled"><input type="submit" value="Login" /></div>				
	            </form>
			</main>   
		</div>    
    </body>
</html>