<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header>
			<div class="title-header"> Pay My Buddy</div>	
			<div class="nav-bar">
				<a href="/account/home">
					 <div class="button-styled button-home">
							Pay My Buddy
					 </div>
				</a>
				<nav> 
					<ul>
						<li><a>Home</a></li>
						<li><a>Transfer</a></li>
						<li><a>Profil</a></li>
						<li><a>Contact</a></li>
						<li><a>Log off</a></li>
						<li><a>Sign up</a></li>
					</ul>
				</nav>
			</div>		
		</header>
		<div class="container">
			<main>
				<form th:action="@{/logout}" method="post">
					<div class="button-styled"><input type="submit" value="Log off" /></div>	
				</form>
			</main>
			</div>
</body>
</html>