<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
	<header>
		<div class="title-header"> Pay My Buddy</div>
		<div class="nav-bar">
			<a th:href="@{/home}">
				<div class="button-styled button-green">
					Pay My Buddy
				</div>
			</a>
				<nav>
				<ul>
					<li th:if="${isAdmin}">
						<a th:href="@{/home/transactions-billing}">Historical Transactions</a>
					</li>
					<li><a th:href="@{/home}">Home</a></li>
					<li th:if="${isUser}"><a th:href="@{/home/transfer}">Transfer</a></li>
					<li th:if="${isUser}"><a th:href="@{/home/profil}">Profil</a></li>
					<li  th:if="${isAdmin}"><a th:href="@{/home/profil/admin}">Profil</a></li>
					<li th:if="${isUser}"><a th:href="@{/home/contact}">Contact</a></li>
					<li><a th:href="@{home/logout}">Log off</a></li>
					<li><a th:href="@{home/sign-up}">Sign up</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="container">
		<main>
			<form th:action="@{/logout}" method="post">
				<div class="button-styled"><input class="button-form" type="submit" value="Log off" /></div>
			</form>
		</main>
	</div>
</body>

</html>