<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Profil</title>
	<link th:href="@{/css/main.css}" rel="stylesheet" />
	<link th:href="@{/css/profil.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{https://kit.fontawesome.com/365efc5f07.js}"
		crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<div class="title-header"> Pay My Buddy</div>
		<div class="nav-bar">
			<a th:href="@{/home}">
				<div class="button-styled button-green">
					Pay My Buddy
				</div>
			</a>
			<nav>
				<ul>
					<li th:if="${isAdmin}">
						<a th:href="@{/home/transactions-billing}">Historical Transactions</a>
					</li>
					<li><a th:href="@{/home}">Home</a></li>
					<li th:if="${isUser}"><a th:href="@{/home/transfer}">Transfer</a></li>
					<li th:if="${isUser}"><a th:href="@{/home/profil}">Profil</a></li>
					<li  th:if="${isAdmin}"><a th:href="@{/home/profil/admin}">Profil</a></li>
					<li th:if="${isUser}"><a th:href="@{/home/contact}">Contact</a></li>
					<li><a th:href="@{/logout}">Log off</a></li>
					<li><a th:href="@{home/sign-up}">Sign up</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="container">
		<main>
			<section>
				<h1>Profil</h1>
				<div class="section-user-info">
					<li> Firstname: <span th:text="${user.firstName}"> Firstname </span></li>
					<br />
					<li> Lastname: <span th:text="${user.lastName}"> Lastname </span></li>
					<br />
					<li>Email: <span th:text="${user.email}"> Email </span></li>
				</div>
			</section>
		</main>
	</div>
</body>

</html>