<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>sign-up</title>
         <link th:href="@{/css/main.css}" rel="stylesheet" />
        <link th:href="@{/css/login.css}" rel="stylesheet" />
         <script type="text/javascript" th:src="@{https://kit.fontawesome.com/365efc5f07.js}" crossorigin="anonymous"></script>
    </head>
    <body>
		<header class="header--height">
			<div class="title-header"> Pay My Buddy</div>	
		</header>
      <div class="container">
	        <main>
				<form th:action="@{/sign-up-form}" method="post" th:object="${user}">
					<a th:href="@{/account/home}">
					  <div class="button-styled button-home">
								 Pay My Buddy
					  </div>
				    </a>
		            <div class="login-field">
						<div class="login-field--fontawesome">
							<i class="fa-regular fa-envelope"></i>
							<input th:field="*{email}"   type="email" name="username" placeholder="Email"/>
						</div>	
					</div>
		            <div class="login-field">
							<div class="login-field--fontawesome">
							<input th:field="*{firstName}" type="text" name="firstname" placeholder="Firstname"/> 
							</div>
					</div>
					  <div class="login-field">
							<div class="login-field--fontawesome">
							<input th:field="*{lastName}" type="text" name="lastname" placeholder="Lastname"/> 
							</div>
					</div>
					<div class="login-field">
						<div class="login-field--fontawesome">
						  <i class="fa-solid fa-asterisk"></i> 
						  <input th:field="*{password}" type="password" name="password" placeholder="Password"/> 
						</div>
					</div>
		            <div class="button-styled"><input class="button-form type" type="submit" value="Sign-Up" /></div>				
	            </form>
			</main>   
		</div>    
    </body>
</html>