<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8">
        <title>Transactions</title>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
    <body>
		<header>
			<div class="title-header"> Pay My Buddy</div>	
			<div class="nav-bar">
				<a th:href="@{/account/home}">
					  <div class="button-styled button-home">
								 Pay My Buddy
					  </div>
				    </a>
				<nav> 
					<ul>
						<li><a th:href="@{/account/home}">Home</a></li>
						<li><a th:href="@{/logout}">Log off</a></li>
					</ul>
				</nav>
			</div>		
		</header>
		<div class="container">
		<main>
			 <div >
        historique transactions
        </div>  
		</main>
		</div>          
    </body>
</html>