<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Transfer</title>
	<link th:href="@{/css/main.css}" rel="stylesheet" />
	<link th:href="@{/css/transaction.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{https://kit.fontawesome.com/365efc5f07.js}"
		crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<div class="title-header"> Pay My Buddy</div>
		<div class="nav-bar">
			<a th:href="@{/home}">
				<div class="button-styled button-green">
					Pay My Buddy
				</div>
			</a>
			<nav>
				<ul>
					<li><a th:href="@{/home}">Home</a></li>
					<li><a th:href="@{/home/transfer}">Transfer</a></li>
					<li><a th:href="@{/home/profil}">Profil</a></li>
					<li><a th:href="@{/home/contact}">Contact</a></li>
					<li><a th:href="@{/logout}">Log off</a></li>
					<li><a th:href="@{home/sign-up}">Sign up</a></li>
				</ul>
			</nav>
		</div>
		<ul id="breadcrumb">
			<li class="link-home"> Home / </li>
			<li th:text="${breadcrumbTransfer}" class="link-active"></li>
		</ul>
	</header>
	<div class="container">
		<main class="main--transaction">
			<section class="section--transaction">
				<div class="header-send-money">
					<h2>Send Money</h2>
					<a th:href="@{/home/profil}" class="button-styled button-form button-connection ">
						Add Connection
					</a>
				</div>
				<form class="form--transaction" th:action="@{/save-payment}" method="post"
					th:object="${userTransaction}">

					<div class="select-contact">
						<label for="selectConnection">
							<select th:field="*{beneficiaryUser.email}" id="selectConnection">
								<option value=""> Select a connection </option>
								<option th:each="contact: ${contacts}" th:value="${contact.email}"
									th:text="${contact.email}">
									contact
								</option>
								<option value="my Buddy Account">
									my Buddy Account
								</option>
								<option value="my Banking Account">
									my Banking Account
								</option>
							</select>
							<i class="fa-solid fa-caret-down"></i></label>
					</div>
					<div class="login-field login-field--form-transaction ">
						<input class="login-field--amount" th:field="*{amount}" type="number" name="amount" min="-1"
							required placeholder="amount" />
						<span class="symbol-euro">€</span>
						<button class="button-up"
							onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i
								class="fa-solid fa-caret-up"></i></button>
						<button class="button-down"
							onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i
								class="fa-solid fa-caret-down"></i></button>
						<input class=" login-field login-field--description-transaction-visible"
							th:field="*{description}" type="text" name="description" required
							placeholder="description" />
					</div>
					<div class="button-styled"><input class="button-form button-green button-green--transaction"
							type="submit" value="Pay" />
				</form>
			</section>
			<section class="section--transaction">
				<h2>Transactions</h2>
				<table class="table--transaction">
					<thead>
						<tr>
							<th>Connections</th>
							<th>Description</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${transactions.empty}">
							<td colspan="3">You have not made any transactions</td>
						</tr>
						<tr th:each="transaction: ${transactions}">
							<td><span th:text="${transaction.contactName }">Connections </span></td>
							<td><span th:text="${transaction.description}"> Description </span></td>
							<td><span th:text="${transaction.amount}"> Amount </span></td>
						</tr>
					</tbody>
				</table>
			</section>
			<section th:if="${totalPages >= 1}" class="section--transaction pagination">
				<div>
					<a th:if="${currentPage}>1 " th:href="@{'/page/' + ${currentPage - 1}}">
						<<< /a>
							<span th:unless="${currentPage}>1">
								<<< /span>
				</div>
				<div>
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}" th:text="${i}">current page</a>
						<span th:unless="${currentPage != i}" th:text="${i}">current page</span>
					</span>
				</div>
				<div>
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">>></a>
					<span th:unless="${currentPage <= totalPages}">>></span>
				</div>
			</section>
		</main>
	</div>
</body>

</html>