<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>transfert</title>
	<link th:href="@{/css/main.css}" rel="stylesheet" />
	<link th:href="@{/css/form.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{https://kit.fontawesome.com/365efc5f07.js}"
		crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<div class="title-header"> Pay My Buddy</div>
		<div class="nav-bar">
			<a th:href="@{/account/home}">
				<div class="button-styled button-green">
					Pay My Buddy
				</div>
			</a>
			<nav>
				<ul>
					<li><a th:href="@{/account/home}">Home</a></li>
					<li><a th:href="@{/account/transfer}">Transfer</a></li>
					<li><a th:href="@{/account/profil}">Profil</a></li>
					<li><a th:href="@{/account/contact}">Contact</a></li>
					<li><a th:href="@{/logout}">Log off</a></li>
					<li><a th:href="@{/sign-up}">Sign up</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="container">
		<main>
			<h2>Send Money</h2>
			<a th:href="@{/account/profil}">
				<div class="button-styled button-form button-connection ">
					Add Connection
				</div>
			</a>
			<form th:action="@{/save-payment}" method="post" th:object="${userTransaction}">
				<div>
					<div>
						<select th:field="*{beneficiaryUser.email}">
							<option value=""> Select a connection </option>
							<option th:each="contact: ${contacts}" th:value="${contact.email}"
								th:text="${contact.email}">
								contact
							</option>
							<option th:value="${userEmail}">
								my Buddy Account
							</option>
							<option value="my Banking Account">
								my Banking Account
							</option>
						</select>
					</div>

					<div class="login-field ">
						<input class="login-field--amount" th:field="*{amount}" type="number" name="amount" min="1"
							required placeholder="amount" />
						<input class=" login-field login-field--description-transaction visible"
							th:field="*{description}" type="text" name="description" placeholder="description" />

					</div>




					<div class="button-styled"><input class="button-form button-green" type="submit" value="Pay" />
					</div>
			</form>
			<h2>Transactions</h2>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${transactions}==null">
						<td colspan="3">Vous n'avez pas effectué de transactions</td>
					</tr>
					<tr th:each="transaction: ${transactions}">
						<td><span th:text="${transaction.contactName }"> Name </span></td>
						<td><span th:text="${transaction.description}"> Description</span></td>
						<td><span th:text="${transaction.amount}"> Amount</span></td>
					</tr>
				</tbody>
			</table>
		</main>
	</div>
</body>

</html>