<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Historical of Transactions</title>
	<link th:href="@{/css/main.css}" rel="stylesheet" />
	<link th:href="@{/css/transaction.css}" rel="stylesheet" />

	<script type="text/javascript" th:src="@{https://kit.fontawesome.com/365efc5f07.js}"
		crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<div class="title-header"> Pay My Buddy</div>
		<div class="nav-bar">
			<a th:href="@{/home}">
				<div class="button-styled button-green">
					Pay My Buddy
				</div>
			</a>
				<nav>
				<ul>
					<li th:if="${isAdmin}">
						<a th:href="@{/home/transactions-billing}">Historical Transactions</a>
					</li>
					<li><a th:href="@{/home}">Home</a></li>
					<li th:if="${isUser}"><a th:href="@{/home/transfer}">Transfer</a></li>
					<li th:if="${isUser}"><a th:href="@{/home/profil}">Profil</a></li>
					<li  th:if="${isAdmin}"><a th:href="@{/home/profil/admin}">Profil</a></li>
					<li th:if="${isUser}"><a th:href="@{/home/contact}">Contact</a></li>
					<li><a th:href="@{/logout}">Log off</a></li>
					<li><a th:href="@{home/sign-up}">Sign up</a></li>
				</ul>
			</nav>
		</div>
			<ul id="breadcrumb">
			<li class="link-home"> Home / </li>
			<li th:if="${isAdmin}" th:text="${breadcrumbTransactions}" class="link-active"></li>
		</ul>
	</header>
	<div class="container">
		<main class="main--transaction">
			<section class="section--transaction">
				<h2>Transactions</h2>
				<table class="table--transaction">
					<thead>
						<tr>
							<th>Credit User</th>
							<th>Connection</th>
							<th>Amount</th>
							<th>Description</th>
							<th>Fees</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${transactions.empty}">
							<td colspan="5">Any transactions</td>
						</tr>
						<tr th:each="transaction: ${transactions}">
							<td><span th:text="${transaction.userCreditName}"> Credit User </span></td>
							<td><span th:text="${transaction.contactName }">Connection</span></td>
							<td><span th:text="${transaction.amount}"> Amount </span></td>
							<td><span th:text="${transaction.description}"> Description </span></td>
							<td><span th:text="${transaction.fees}">Fees </span></td>
						</tr>
					</tbody>
				</table>
			</section>
			<section th:if="${totalPages >= 1}" class="section--transaction pagination">
				<div>
					<a th:if="${currentPage}>1 " th:href="@{'/admin/page/' + ${currentPage - 1}}">
						<<< /a>
							<span th:unless="${currentPage}>1">
								<<< /span>
				</div>
				<div>
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/admin/page/' + ${i}}" th:text="${i}">current
							page</a>
						<span th:unless="${currentPage != i}" th:text="${i}">current page</span>
					</span>
				</div>
				<div>
					<a th:if="${currentPage < totalPages}" th:href="@{'/admin/page/' + ${currentPage + 1}}">>></a>
					<span th:unless="${currentPage <= totalPages}">>></span>
				</div>
			</section>
		</main>
	</div>
</body>

</html>